<h1>Create new Contact</h1>
<br>

<form action='/contacts' method='post'>
  <input type='text' name='first_name'value="e.g. First name">
  <input type='text' name='last_name' value="e.g. Last name">
  <input type='text' name='email'value="e.g. Email">
  <input type='text' name='note' value="e.g. Note">
  <input type='submit' value='New Contact'>
</form>

<br>
